<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GalaxyBank ATM</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.css'/>
    <link rel='stylesheet' href='https://cdn.quilljs.com/0.16.0/quill.snow.css'/>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="ui container">
    <br/>
    <div class="ui blue inverted segment">
        <div class="ui internally grid">
            <div class="four wide  column"></div>
            <div class="eight wide column">
                <div class="ui blue inverted center">
                    <h1 class="ui inverted center aligned header">GALAXYBANK ATM</h1>
                </div>
            </div>
            <div class="ui blue inverted right" v-if="customer != null">
                <Content>
                    Welcome to <b>GalaxyBank!</b>
                    <p style="font-size:20px;">{{customer.data.name}}</p>
                </Content>
            </div>
        </div>
    </div>
    <div class="ui internally celled grid">
        <div class="four wide right aligned column">
            <br/><br/><br/>
            <button class="ui medium red button" v-on:click="cancelAllOperations()" v-if="!welcomePanelShow">
                Cancel
            </button>
        </div>

        <div class="eight wide column">
            <div class="ui red message" v-if="type">
                <v-app id="inspire">
                    <v-alert :color="type" icon="check_circle" value="true">
                        {{errorMsg}}
                    </v-alert>
                </v-app>
            </div>
            <div class="ui grid" v-if="welcomePanelShow">
                <div class="ui row">
                    <div class="three wide column"></div>
                    <div class="ui eight column stackable center aligned page grid">
                        <div class="ui form">
                            <div class="fields">
                                <div v-if="cardLabelShow" class="field">
                                    <label style="font-size:18px;" >Welcome! <br/>Enter your card number</label>
                                    <input style="width: 300px; height: 60px; font-size:25px; text-align:right;" type="text" v-model="card" readonly="">
                                    </input>
                                </div>
                                <div v-if="pinLabelShow" class="field">
                                    <label style="font-size:18px;" >Enter your pin number</label>
                                    <input style="width: 300px; height: 60px; font-size:25px; text-align:right;" type="password" v-model="pin" readonly="">
                                    </input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column"></div>
                    <div class="seven wide column">
                        <div class="ui medium buttons">
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('1')">1</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('2')">2</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('3')">3</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('4')">4</button>
                        </div>
                        <div class="ui medium buttons">
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('5')">5</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('6')">6</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('7')">7</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('8')">8</button>
                        </div>
                        <div class="ui medium  buttons">
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('9')">9</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('0')">0</button>
                        </div>
                    </div>

                    <div class="five wide column">
                        <div class="ui vertical labeled icon buttons">
                            <button class="ui yellow button" v-on:click="resetSelectedFieldInput()">
                                <i class="icon minus"></i>
                                RESET
                            </button>
                            <button class="ui green button" v-on:click="validateSelectedFieldInput()">
                                <i class="icon check"></i>
                                OK
                            </button>
                            <button v-if="pinLabelShow" class="ui red button" v-on:click="cancelSelectedFieldInput()">
                                <i class="icon close"></i>
                                CANCEL
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid" v-if="menuPanelShow">
                <div class="ui row">
                    <div class="three wide column"></div>
                    <div class="eight wide column center aligned">
                        <label style="font-size:20px;" >Choose an operation from the below menu</label>
                        <br/><br/>
                        <button class="ui medium primary button" v-on:click="showWithdrawPanel()">
                            Withdraw <br/>   Money
                        </button>
                        <button class="ui medium primary button" v-on:click="showDepositPanel()">
                            Deposit <br/>   Money
                        </button>
                        <br/><br/>
                        <button class="ui medium primary button" v-on:click="showBalancePanel()">
                            Account <br/>   Balance
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui grid" v-if="operationPanelShow">
                <div class="ui row">
                    <div class="three wide column"></div>
                    <div class="ui eight column stackable center aligned page grid">
                        <div class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <label style="font-size:18px;">Enter the ammount to {{operationType}}</label><br/>
                                    <input style="width: 300px; height: 60px; font-size:25px; text-align:right;" type="text" v-model="amount" readonly="">
                                    </input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column"></div>
                    <div class="seven wide column">
                        <div class="ui medium buttons">
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('1')">1</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('2')">2</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('3')">3</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('4')">4</button>
                        </div>
                        <div class="ui medium buttons">
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('5')">5</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('6')">6</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('7')">7</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('8')">8</button>
                        </div>
                        <div class="ui medium  buttons">
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('9')">9</button>
                            <button class="ui attached button" v-on:click="changeSelectedFieldInput('0')">0</button>
                        </div>
                        <br/><br/>
                        <button class="ui medium primary button" v-on:click="showMenuPanel()">
                            Back To Menu
                        </button>
                    </div>

                    <div class="five wide column">
                        <div class="ui vertical labeled icon buttons">
                            <button class="ui yellow button" v-on:click="resetSelectedFieldInput()">
                                <i class="icon minus"></i>
                                RESET
                            </button>
                            <button class="ui green button" v-on:click="validateSelectedFieldInput()">
                                <i class="icon check"></i>
                                OK
                            </button>
                            <button v-if="pinLabelShow" class="ui red button" v-on:click="cancelSelectedFieldInput()">
                                <i class="icon close"></i>
                                CANCEL
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid" v-if="displayPanelShow">
                <div class="ui row">
                    <div class="three wide column"></div>
                    <div class="eight wide column center aligned">
                        <div class="ui green message" v-if="!showAccountBalance">
                            <label style="font-size:20px;">{{operationType}} operation was completed successfully!</label>
                        </div>
                        <label style="font-size:20px;">Your account balance is: {{account.balance}}</label>
                        <br/><br/>
                        <button class="ui medium primary button" v-on:click="showMenuPanel()">
                            Back To Menu
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
            <!--label style="font-size:18px;">{{info.data }}</label-->
        </div>

    </div>
    <br/>
    <div class="ui blue  bottom attached button" tabindex="0">GalaxyBank Copyright © 2020 All right reserved</div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.js'></script>
<script src='https://cdn.quilljs.com/0.16.0/quill.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>
<script th:src="@{/admin.js}"></script>

</body>
</html>